<mat-toolbar id="toolbar" color="primary">
    <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Responsive App</h1>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav id="sidebar" #snav [mode]="mobileQuery.matches ? 'push' : 'side'"
                 [opened]="!mobileQuery.matches">

        <p>Side bar</p>
    </mat-sidenav>

    <mat-sidenav-content id="main">
        <p>Main content</p>
    </mat-sidenav-content>
</mat-sidenav-container>
