<mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>

<mat-toolbar id="toolbar" color="primary" class="justify-between">
    <div class="flex items-center">
        <div class="flex items-center mr-4">
            <span class="flex items-center">DNS <mat-icon class="mx-1">travel_explore</mat-icon> Brand Watch</span>
        </div>

        <button mat-stroked-button (click)="selectProject()">
            <ng-template [ngIf]="!activeProject">Select Project</ng-template>
            <ng-template [ngIf]="activeProject">{{activeProject.name}}</ng-template>
            <mat-icon>expand_more</mat-icon>
        </button>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
        <mat-icon [matBadge]="notificationCount" [matBadgeHidden]="notificationCount < 1" matBadgeColor="warn">
            notifications
        </mat-icon>
    </button>
    <mat-menu #notificationMenu="matMenu">
        <button mat-menu-item [routerLink]="['/notifications']">View All</button>
        <button mat-menu-item *ngFor="let notification of notifications"
                [routerLink]="['/notifications', notification.id]"
                [ngClass]="{'bg-blue-50 border-l-4 border-blue-200': !notification.read}">{{notification.title}}</button>
    </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav id="sidebar" #snav [mode]="mobileQuery.matches ? 'push' : 'side'"
                 [opened]="!mobileQuery.matches">

        <div>
            <div class="menu-items">
                <a [routerLink]="['/home']" routerLinkActive="active" class="menu-item">
                    <mat-icon>not_started</mat-icon>
                    <span>Getting Started</span>
                </a>
            </div>

            <ng-template [ngIf]="loggedIn">
                <div class="menu-items">
                    <p class="menu-title">Brand Watch</p>
                    <a [routerLink]="['/brands']" routerLinkActive="active" class="menu-item">
                        <mat-icon>view_list</mat-icon>
                        <span>Brands</span>
                    </a>

                </div>
                <div class="menu-items collapsible">
                    <p class="menu-title" (click)="settingsOpen = !settingsOpen">
                        Notifications
                        <svg *ngIf="!settingsOpen" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                        </svg>
                        <svg *ngIf="settingsOpen" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"/>
                        </svg>
                    </p>
                    <ng-template [ngIf]="settingsOpen">
                        <a [routerLink]="['/notification-groups']" routerLinkActive="active" class="menu-item">
                            <mat-icon>notifications</mat-icon>
                            <span>Notification Groups</span>
                        </a>
                        <a [routerLink]="['/alert-groups']" routerLinkActive="active" class="menu-item">
                            <mat-icon>campaign</mat-icon>
                            <span>Alert Groups</span>
                        </a>
                    </ng-template>
                </div>
            </ng-template>
        </div>
        <div>
            <div class="menu-items">
                <p *ngIf="loggedIn && sessionUser" class="menu-title">
                    {{sessionUser.name}}
                </p>
                <a *ngIf="loggedIn" [routerLink]="['/my-account']" routerLinkActive="active" class="menu-item">
                    <mat-icon>manage_accounts</mat-icon>
                    <span>My Account</span>
                </a>
                <a *ngIf="!loggedIn" [routerLink]="['/login']" routerLinkActive="active" class="menu-item">
                    <mat-icon>login</mat-icon>
                    <span>Login</span>
                </a>
                <a *ngIf="loggedIn" href="javascript:void(0)" routerLinkActive="active" class="menu-item"
                   (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </a>
            </div>

            <div class="menu-divider"></div>
            <button mat-icon-button color="accent" class="menu-back"
                    (click)="snav.toggle()">
                <mat-icon>chevron_left</mat-icon>
            </button>
        </div>

    </mat-sidenav>

    <mat-sidenav-content id="main" [ngClass]="{'small-sidebar': showFixedSidebar}">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<div class="fixed-sidebar-small" *ngIf="showFixedSidebar">
    <div>
        <div class="menu-items sm">
            <a [routerLink]="['/home']" routerLinkActive="active" class="menu-item">
                <mat-icon>not_started</mat-icon>
            </a>
        </div>

        <div class="menu-items sm">
            <a *ngIf="loggedIn" [routerLink]="['/brands']" routerLinkActive="active" class="menu-item">
                <mat-icon>view_list</mat-icon>
            </a>
        </div>

        <div class="menu-items sm">
            <a *ngIf="loggedIn" [routerLink]="['/notification-groups']" routerLinkActive="active" class="menu-item">
                <mat-icon>notifications</mat-icon>
            </a>
            <a *ngIf="loggedIn" [routerLink]="['/alert-groups']" routerLinkActive="active" class="menu-item">
                <mat-icon>campaign</mat-icon>
            </a>
        </div>
    </div>
    <div>
        <div class="menu-items sm">
            <a *ngIf="loggedIn" [routerLink]="['/my-account']" routerLinkActive="active" class="menu-item">
                <mat-icon>manage_accounts</mat-icon>
            </a>
            <a *ngIf="!loggedIn" [routerLink]="['/login']" routerLinkActive="active" class="menu-item">
                <mat-icon>login</mat-icon>
            </a>
            <a *ngIf="loggedIn" href="javascript:void(0)" routerLinkActive="active" class="menu-item"
               (click)="logout()">
                <mat-icon>logout</mat-icon>
            </a>
        </div>

        <div class="menu-divider"></div>
        <button mat-icon-button color="accent"
                (click)="snav.toggle()">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</div>
