<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<mat-toolbar id="toolbar" class="bg-gray-700 text-white justify-between">
    <div class="flex items-center">
        <div class="flex items-center mr-4">
            <span class="flex items-center uppercase italic text-lg"><mat-icon class="mx-1">travel_explore</mat-icon> Brand Watch</span>
        </div>

        <button mat-stroked-button (click)="selectProject()">
            <ng-template [ngIf]="!activeProject">Select Project</ng-template>
            <ng-template [ngIf]="activeProject">{{activeProject.name}}</ng-template>
            <mat-icon>expand_more</mat-icon>
        </button>
    </div>
    <div class="flex items-center">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
            <mat-icon [matBadge]="notificationCount" [matBadgeHidden]="notificationCount < 1" matBadgeColor="warn">
                notifications
            </mat-icon>
        </button>
        <mat-menu #notificationMenu="matMenu">
            <button mat-menu-item [routerLink]="['/notifications']">View All</button>
            <button mat-menu-item *ngFor="let notification of notifications"
                    [routerLink]="['/notifications', notification.id]"
                    [ngClass]="{'bg-blue-50 border-l-4 border-blue-200': !notification.read}">{{notification.title}}</button>
        </mat-menu>
    </div>

</mat-toolbar>

<mat-sidenav-container class="dark:bg-gray-800">
    <mat-sidenav id="sidebar" #snav [mode]="mobileQuery.matches ? 'push' : 'side'"
                 class="bg-white border-r border-gray-200 dark:border-gray-500 dark:bg-gray-700 dark:text-white"
                 [opened]="!mobileQuery.matches">

        <div>
            <div class="menu-items">
                <a [routerLink]="['/home']" #started="routerLinkActive" routerLinkActive="active"
                   class="menu-item text-gray-800 hover:bg-gray-200 dark:hover:bg-gray-500 dark:text-gray-200"
                   [ngClass]="{'bg-gray-300 dark:bg-gray-600': started.isActive}">
                    <mat-icon>not_started</mat-icon>
                    <span>Getting Started</span>
                </a>
            </div>

            <ng-template [ngIf]="loggedIn">
                <div class="menu-items">
                    <p class="menu-title text-gray-800 dark:text-gray-200">Brand Watch</p>
                    <a [routerLink]="['/brands']" #brands="routerLinkActive" routerLinkActive="active"
                       class="menu-item text-gray-800 hover:bg-gray-200 dark:hover:bg-gray-500 dark:text-gray-200"
                       [ngClass]="{'bg-gray-300 dark:bg-gray-600': brands.isActive}">
                        <mat-icon>view_list</mat-icon>
                        <span>Brands</span>
                    </a>
                    <a [routerLink]="['/watch-domains']" #watchDomains="routerLinkActive" routerLinkActive="active"
                       class="menu-item text-gray-800 hover:bg-gray-200 dark:hover:bg-gray-500 dark:text-gray-200"
                       [ngClass]="{'bg-gray-300 dark:bg-gray-600': watchDomains.isActive}">
                        <mat-icon>alarm_on</mat-icon>
                        <span>Watch Domains</span>
                    </a>
                </div>
                <div class="menu-items collapsible">
                    <p class="menu-title text-gray-800 dark:text-gray-200" (click)="settingsOpen = !settingsOpen">
                        Notifications
                        <svg *ngIf="!settingsOpen" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                        </svg>
                        <svg *ngIf="settingsOpen" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"/>
                        </svg>
                    </p>
                    <ng-template [ngIf]="settingsOpen">
                        <a [routerLink]="['/notification-groups']" #notification="routerLinkActive"
                           routerLinkActive="active"
                           class="menu-item text-gray-800 hover:bg-gray-200 dark:hover:bg-gray-500 dark:text-gray-200"
                           [ngClass]="{'bg-gray-300 dark:bg-gray-600': notification.isActive}">
                            <mat-icon>notifications</mat-icon>
                            <span>Notification Groups</span>
                        </a>
                        <a [routerLink]="['/alert-groups']" #alerts="routerLinkActive" routerLinkActive="active"
                           class="menu-item text-gray-800 hover:bg-gray-200 dark:hover:bg-gray-500 dark:text-gray-200"
                           [ngClass]="{'bg-gray-300 dark:bg-gray-600': alerts.isActive}">
                            <mat-icon>campaign</mat-icon>
                            <span>Alert Groups</span>
                        </a>
                    </ng-template>
                </div>
            </ng-template>
        </div>
        <div>
            <div class="menu-items border-b border-gray-200">
                <p *ngIf="loggedIn && sessionUser" class="menu-title text-gray-800 dark:text-gray-200">
                    {{sessionUser.name}}
                </p>
                <a *ngIf="loggedIn" [routerLink]="['/my-account']" #accounts="routerLinkActive"
                   routerLinkActive="active"
                   class="menu-item text-gray-800 hover:bg-gray-200 dark:hover:bg-gray-500 dark:text-gray-200"
                   [ngClass]="{'bg-gray-300 dark:bg-gray-600': accounts.isActive}">
                    <mat-icon>manage_accounts</mat-icon>
                    <span>My Account</span>
                </a>
                <a *ngIf="!loggedIn" [routerLink]="['/login']" #login="routerLinkActive" routerLinkActive="active"
                   class="menu-item text-gray-800 hover:bg-gray-200 dark:hover:bg-gray-500 dark:text-gray-200"
                   [ngClass]="{'bg-gray-300 dark:bg-gray-600': login.isActive}">
                    <mat-icon>login</mat-icon>
                    <span>Login</span>
                </a>
                <a *ngIf="loggedIn" href="javascript:void(0)" routerLinkActive="active"
                   class="menu-item text-gray-800 hover:bg-gray-200 dark:hover:bg-gray-500 dark:text-gray-200"
                   (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </a>
            </div>

            <button mat-icon-button class="text-gray-600 dark:text-gray-200 menu-back"
                    (click)="snav.toggle()">
                <mat-icon>chevron_left</mat-icon>
            </button>
        </div>

    </mat-sidenav>

    <mat-sidenav-content id="main">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
