// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary-palette: (50 : #e4f4fa, 100 : #bce4f2, 200 : #90d3e9, 300 : #63c1e0, 400 : #41b3da, 500 : #20a6d3, 600 : #1c9ece, 700 : #1895c8, 800 : #138bc2, 900 : #0b7bb7, A100 : #e4f4ff, A200 : #b1e1ff, A400 : #7ecdff, A700 : #64c3ff, contrast: (50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #000000, 500 : #000000, 600 : #ffffff, 700 : #ffffff, 800 : #ffffff, 900 : #ffffff, A100 : #000000, A200 : #000000, A400 : #000000, A700 : #000000));
$admin-primary: mat-palette($primary-palette, 500);
$admin-accent: mat-palette($mat-gray);

// The warn palette is optional (defaults to red).
$admin-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$admin-theme: mat-light-theme((
    color: (
        primary: $admin-primary,
        accent: $admin-accent,
        warn: $admin-warn,
    )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($admin-theme);


html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #F5F5F5
}

mat-toolbar#toolbar {
    background-color: white;
    color: mat-color($admin-primary);
    border-bottom: 1px solid #e0e0e0;
}

button[mat-button] {
    .mat-button-wrapper {
        display: flex;
        align-items: center;
    }
}

.widget {
    mat-tab-group {
        mat-tab-body {
            padding: 1rem;
            .tab-footer {
                margin-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

        }
        .mat-tab-nav-bar, .mat-tab-header {
            border-bottom: none;
        }

        .mat-tab-label {
            height: 100%;
            align-self: center;

            .mat-tab-label-content {
                display: flex;
                flex-direction: column;
                text-align: left;
                align-items: end;
            }
        }
    }
}

.alert {
    color: #E50000;
}
.watched {
    color: #20a6d3;
}
.trusted {
    color: #3CA719;
}
